@using Product.Order.ViewModel;;

@model OrderDetails;
@{
    ViewData["Title"] = "GetOrderList";

}

<h1>GetOrderList</h1>



<div>
       <div>
           <div> Search Product Id </div>
            <div>
                  <input id="ProductId" name="ProductId" type="text" />
            </div>           
          <a asp-controller="OrderTranction" asp-action="GetById"  >Search button
          </a>
       </div>

    <div class="row">     
        <div>
            @Html.Label("Product Id")
            @Html.TextBoxFor(m => m.ProductList.ProductId)          
        </div>     
        <div>
            @Html.Label("Cost")
            @Html.TextBoxFor(m => m.ProductList.Cost)
        </div>
    </div>
     <div class="row">     
        <div>
            @Html.Label("Product Name")
            @Html.TextBoxFor(m => m.ProductList.ProductName)
        </div>     
        <div>
            @Html.Label("Qty")
            <input id="qty" name="Qty" type="text" />
        </div>
    </div>

            <table>
                <tr>
                    <td>File Name</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Info</td>
                </tr>
        @foreach (var item in Model.OrderItem)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Cost</td>
                        <td>@item.Qty</td>
                        <td>@item.Amount</td>
                         <td><button>Remove</button></td>
                    </tr>
                }
            </table>
        }
    


</div>